{% extends 'appBlogd/admin/base_admin.html' %}
{% block title %}Blog-Site: Admin{% endblock %}
{% block content %}
<div class="alert" role="alert" style="width: 100%;">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="alert-heading" style="font-family: BenchNine;">Text Posts Table</h4>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-primary" style="display: inline-block; font-family: Jura;" href="{% url 'appBlogd:text_post_form' %}">Make a New Post</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table" style="Font-family: Dosis;">
          <thead>
            <tr>
              <th>Id</th>
              <th>Image</th>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% if text_post %}
            {% for text_post in text_post %}
            <tr>
              <td>{{text_post.id}}</td>
              <td><img src="{{text_post.image.url}}" style="max-width: 50%; height: 40px;"></td>
              <td>{{text_post.title}}</td>
              <td>{{text_post.description}}</td>
              <td>{{text_post.author}}</td>
              <td>
                <a href="{% url 'appBlogd:update_text_post' text_post.id %}" class="btn btn-success btn-sm">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'appBlogd:delete_text_post' text_post.id %}" class="btn btn-danger btn-sm"
                   onclick='return confirm("Are you sure you want to delete {{text_post.title}}?")'>
                    <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
            {% endfor %}
          {% endif %}
        </table>
    </div>
</div>
{% endblock %}